{% load static %}


  <!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
  <!-- Bootstrap jQuery -->
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}" defer></script>
  <!-- Slick Carousel -->
  <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/slick/slick-animation.min.js' %}"></script>
  <!-- Color box -->
  <script src="{% static 'plugins/colorbox/jquery.colorbox.js' %}"></script>
  <!-- shuffle -->
  <script src="{% static 'plugins/shuffle/shuffle.min.js' %}" defer></script>

  <script src="{% static 'plugins/aos/aos.js' %}" defer></script>

  <script src="{% static 'plugins/htmx/htmx.min.js' %}" defer></script>

  <!-- Template custom -->
  <script src="{% static 'js/script.js' %}"></script>