{% load static %}
<div id="top-bar" class="top-bar">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-8">
            <ul class="top-info text-center text-md-left">
                <li><i class="fas fa-map-marker-alt"></i> <p class="info-text">9051 Constra Incorporate, Guinée</p>
                </li>
            </ul>
          </div>
          <!--/ Top info end -->

          <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
            <ul class="list-unstyled">
                <li>
                  <a title="Facebook" href="https://facebbok.com/themefisher.com">
                      <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                  </a>
                  <a title="Twitter" href="https://twitter.com/themefisher.com">
                      <span class="social-icon"><i class="fab fa-twitter"></i></span>
                  </a>
                  <a title="Instagram" href="https://instagram.com/themefisher.com">
                      <span class="social-icon"><i class="fab fa-instagram"></i></span>
                  </a>
                  <a title="Linkdin" href="https://github.com/themefisher.com">
                      <span class="social-icon"><i class="fab fa-github"></i></span>
                  </a>
                </li>
            </ul>
          </div>
          <!--/ Top social end -->
      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</div>
<!--/ Topbar end -->