{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block content %}
<!-- Banner -->   
<div id="banner-area" class="banner-area" style="background-image:url(../static/images/banner/banner1.jpg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">About Us</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
</div>
<!-- Banner area end -->   

<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <h3 class="column-title">Who We Are</h3>
            <p>when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</p>
            <blockquote><p>Semporibus autem quibusdam et aut officiis debitis aut rerum est aut optio cumque nihil necessitatibus autemn ec tincidunt nunc posuere ut</p></blockquote>
            <p>He lay on his armour-like  back, and if he lifted. ultrices ultrices sapien, nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing.</p>
  
          </div><!-- Col end -->
  
          <div class="col-lg-6 mt-5 mt-lg-0">
            
            <div id="page-slider" class="page-slider small-bg">
  
                <div class="item" style="background-image:url(../static/images/slider-pages/slide-page1.jpg)">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Leadership</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
  
                <div class="item" style="background-image:url(../static/images/slider-pages/slide-page2.jpg)">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Relationships</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
  
                <div class="item" style="background-image:url(../static/images/slider-pages/slide-page3.jpg)">
                  <div class="container">
                      <div class="box-slider-content">
                        <div class="box-slider-text">
                            <h2 class="box-slide-title">Performance</h2>
                        </div>    
                      </div>
                  </div>
                </div><!-- Item 1 end -->
            </div><!-- Page slider end-->          
          
  
          </div><!-- Col end -->
      </div><!-- Content row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->

  {% include "partials/blocks/facts-counter.html" %}

  <!-- Team -->
  <section id="ts-team" class="ts-team">
    <div class="container">
      <div class="row text-center">
          <div class="col-lg-12">
            <h2 class="section-title">Quality Service</h2>
            <h3 class="section-sub-title">Professional Team</h3>
          </div>
      </div><!--/ Title row end -->
  
      <div class="row">
          <div class="col-lg-12">
            <div id="team-slide" class="team-slide">
              {% if team %}
              {% for obj in team %}
                <div class="item">
                  <div class="ts-team-wrapper">
                      <div class="team-img-wrapper">
                        <img loading="lazy" class="w-100" src="{{obj.avatar.url}}" alt="team-img">
                      </div>
                      <div class="ts-team-content">
                        <h3 class="ts-name">{{ obj.full_name }}</h3>
                        <p class="ts-designation">{{ obj.designation}}</p>
                        <p class="ts-description">{{ obj.short_description }}</p>
                        <div class="team-social-icons">
                          {% if obj.facebook_link %}  
                          <a target="_blank" href="{{obj.facebook_link}}"><i class="fab fa-facebook-f"></i></a>
                          {% endif %}
                          {% if obj.twitter_link %}
                          <a target="_blank" href="{{obj.twitter_link}}"><i class="fab fa-twitter"></i></a>
                          {% endif %}
                          {% if obj.googleplus_link %}
                          <a target="_blank" href="{{obj.googleplus_link}}"><i class="fab fa-google-plus"></i></a>
                          {% endif %}
                          {% if obj.linkedIn_link %}
                          <a target="_blank" href="{{obj.linkedIn_link}}"><i class="fab fa-linkedin"></i></a>
                          {% endif %}
                        </div><!--/ social-icons-->
                      </div>
                  </div><!--/ Team wrapper end -->
                </div><!-- Team 1 end -->
              {% endfor %}
              {% endif %}
  
            </div><!-- Team slide end -->
          </div>
      </div><!--/ Content row end -->
    </div><!--/ Container end -->
  </section><!--/ Team end -->

{% endblock content %}