{% load static %}
{% if facts %}
<section id="facts" class="facts-area dark-bg">
  <div class="container">
    <div class="facts-wrapper">
        <div class="row">
          {% for obj in facts %} 
          <div class="col-md-3 col-sm-6 ts-facts">
              <div class="ts-facts-img">
                <img loading="lazy" src="{{obj.icon_image.url}}" alt="facts-img">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="{{obj.count}}">0</span></h2>
                <h3 class="ts-facts-title">{{obj.title}}</h3>
              </div>
          </div><!-- Col end -->
          {% endfor %}

        </div> <!-- Facts end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Facts end -->
{% endif %}