{% load static %}

<section id="project-area" class="project-area solid-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-title">Work of Excellence</h2>
        <h3 class="section-sub-title">Recent Projects</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-12">
        <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Show All
          </label>
          {% for p_cat in p_categories %}
          <label for="{{p_cat.title}}">
            <input type="radio" name="shuffle-filter" id="{{p_cat.title}}" value="{{p_cat.title}}">{{p_cat.title}}
          </label>
          {% endfor %}
        </div><!-- project filter end -->


        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>
          {% if projects %}
          {% for project in projects %}
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="{{project.thumbnail.url}}" aria-label="project-img">
                  <img class="img-fluid" src="{{project.thumbnail.url}}" alt="project-img">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                  <div class="project-item-info-content">
                    <h3 class="project-item-title">
                      <a href="{{project.get_absolute_url}}">{{project.title}}</a>
                    </h3>
                    <p class="project-cat">{{project.category}}</p>
                  </div>
                </div>
              </div>
            </div><!-- shuffle item 1 end -->
          {% endfor %}
          {% endif %}

        </div><!-- shuffle end -->
      </div>

      <div class="col-12">
        <div class="general-btn text-center">
          <a class="btn btn-primary" href="{% url 'projects' %}">View All Projects</a>
        </div>
      </div>

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Project area end -->