#user-tools {
    font-size: 14px;
    font-weight: 600;
}

#user-tools a:hover {
    border-bottom-color: #ffb600;
}
#header {
    background-color: #fff !important;
    color: #ffb600 !important;
    box-shadow: 0 0 3px 0 #ffb600;
}

#header a:link, #header a:visited {
    color: #000 !important;
}

div.breadcrumbs {
    background-color: #1c1f1f;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #1c1f1f;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background-color: #1c1f1f;
}

.button.default:active, input[type=submit].default:active, .submit-row input.default:active,
.button.default:focus, input[type=submit].default:focus, .submit-row input.default:focus,
.button.default:hover, input[type=hover].default:hover, .submit-row input.default:hover {
    background-color: rgba(0, 0, 0, 0.8);;
}

.button.default, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #1c1f1f;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

a:link, a:visited {
    color: #1c1f1f
}

.selector .selector-chosen h2{
    background: rgba(0, 0, 0, 0.8);
}
.selector .selector-available h2{
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

.paginator a:link {
    color: white;
    background: rgba(0, 0, 0, 0.8);
}
.paginator a:focus, .paginator a:hover {
    color:rgba(0, 0, 0, 0.8);
    background: white;
}

#result_list thead {
    color: white !important;
    background: rgba(0, 0, 0, 0.8);
}