{% extends "base.html" %}
{% load static %}

{% block title%} Service {% endblock title %}

{% block content %}
<!-- Banner -->
<div id="banner-area" class="banner-area" style="background-image:url(../static/images/banner/banner1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">Service</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Service</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div>
<!-- Banner area end -->

<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
  
        <div class="col-xl-3 col-lg-4">
          <div class="sidebar sidebar-left">
            <div class="widget">
              <h3 class="widget-title">Solutions</h3>
              <ul class="nav service-menu">
                {% for service in services %}
                <li class=""><a href="{{ service.get_absolute_url }}">{{ service.title}}</a></li>
                {% endfor %}
              </ul>
            </div><!-- Widget end -->
  
            <div class="widget">
              <div class="quote-item quote-border">
                <div class="quote-text-border">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                </div>
  
                <div class="quote-item-footer">
                  <img loading="lazy" class="testimonial-thumb" src="{% static 'images/clients/testimonial1.png' %}" alt="testimonial">
                  <div class="quote-item-info">
                    <h3 class="quote-author">Weldon Cash</h3>
                    <span class="quote-subtext">CEO, First Choice Group</span>
                  </div>
                </div>
              </div><!-- Quote item end -->
  
            </div><!-- Widget end -->
  
          </div><!-- Sidebar end -->
        </div><!-- Sidebar Col end -->
  
        <div class="col-xl-8 col-lg-8">
          <div class="content-inner-page">
  
            <h2 class="column-title mrt-0">{{ service.title}}</h2>
  
            {{ service.detail|safe}}
            
  
            <div class="gap-40"></div>
  
            <div class="call-to-action classic">
              <div class="row align-items-center">
                <div class="col-md-8 text-center text-md-left">
                  <div class="call-to-action-text">
                    <h3 class="action-title">Interested with this service.</h3>
                  </div>
                </div><!-- Col end -->
                <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                  <div class="call-to-action-btn">
                    <a class="btn btn-primary" href="{% url 'contact' %}">Get a Quote</a>
                  </div>
                </div><!-- col end -->
              </div><!-- row end -->
            </div><!-- Action end -->
  
          </div><!-- Content inner end -->
        </div><!-- Content Col end -->
  
  
      </div><!-- Main row end -->
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->

{% endblock content %}